{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      {% macro percent_format(value) %}
        {%- if value is none -%}
          &#8212;
        {%- elif value % 1 == 0 -%}
          {{ '%0.0f%%' % value }}
        {%- else -%}
          {{ value|string + '%' }}
        {%- endif -%}
      {% endmacro %}
      <div class="row my-2">
        <div class="col-lg-5">
          <h3 class="my-3 d-flex align-items-center">
            {% for name, b_unit_icon in banner_info['banner_icon'].iteritems() %}
            <img {{ 'class="ml-1" ' if loop.index > 1 }}src="https://raw.githubusercontent.com/ffbesp/ffbeEquip/master/static/img/units/unit_icon_{{ b_unit_icon }}.png">
            {% endfor %}
            <span class="ml-1">{{ banner_info['banner_name'] }}</span>
          </h3>
          <div class="d-flex align-items-center">
            <span class="badge badge-pill badge-secondary mr-2">Dates</span> {{ banner_info['duration']['start'] }} to {{ banner_info['duration']['end'] }}
          </div>
          <div class="d-flex align-items-center">
            <span class="badge badge-pill badge-secondary mr-2">Max Laps</span> {{ banner_info['totalAvailableLaps'] }}
          </div>
          <div class="d-flex align-items-center">
            <span class="badge badge-pill badge-secondary mr-2">Lapis Cost per Lap</span> {{ banner_info['totalPerLapCost'] }}
          </div>
          <div class="d-flex align-items-center">
            <span class="badge badge-pill badge-secondary mr-2">Base 5★ in EX pool</span> {{ banner_info['fiveStarBaseUnitCount'] }}
          </div>
          {% if 'allRainbowsOnBanner' in banner_info and banner_info.get('allRainbowsOnBanner') %}
          <div class="d-flex align-items-center">
            <span class="badge badge-pill badge-info mr-2">All rainbows are banner units</span>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-7 text-center">
          <img class="rounded banner" src="https://raw.githubusercontent.com/ffbesp/ffbesp.github.io/master/images/banner/{{ banner_info.get('banner_img') }}">
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h4>Summary</h4>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
                <th scope="col">{{ lap }} Lap{{ 's' if lap > 1 }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    Probability for <img class="small-unit-icon ml-1" src="{{ unit_icon }}">
                  </div>
                </th>
                {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
                <td>{{ summary[lap][1] }}%</td>
                {% endfor %}
              </tr>
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    Probability for 7★ <img class="small-unit-icon ml-1" src="{{ unit_icon }}">
                  </div>
                </th>
                {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
                <td>{{ summary[lap][2] }}%</td>
                {% endfor %}
              </tr>
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    Probability for <img class="small-unit-icon mx-1" src="{{ unit_icon }}"> STMR
                  </div>
                </th>
                {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
                <td>{{ summary[lap][4] }}%</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="row my-2">
        <div class="col">
          <h3>Stats per Lap</h3>
          <ul class="nav nav-pills mb-3" id="pills-lap" role="tablist">
            {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
            <li class="nav-item">
              <a class="nav-link{{ ' active' if lap == 1 }}" id="{{ 'lap-' + lap|string + '-tab' }}" data-toggle="pill" href="#{{ 'lap-' + lap|string }}" role="tab" aria-controls="{{ 'lap-' + lap|string }}" aria-selected="{{ 'true' if lap == 1 else 'false' }}">{{ lap }} Lap{{ 's' if lap > 1 }}</a>
            </li>
            {% endfor %}
          </ul>
          <hr>
          <div class="tab-content" id="pills-lapContent">
            {% for lap in range(1, banner_info['totalAvailableLaps'] + 1) %}
            <div class="tab-pane fade{{ ' show active' if lap == 1 }}" id="{{ 'lap-' + lap|string }}" role="tabpanel" aria-labelledby="{{ 'lap-' + lap|string + '-tab' }}">

              <h4 class="mt-3">Pulls and Rates</h4>
              <table class="table table-sm table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Pulls</th>
                    <th scope="col" class="text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <img class="small-unit-icon mr-1" src="{{ unit_icon }}"> Rate
                      </div>
                    </th>
                    {% if banner_info['banner_icon']|length > 1 %}
                    <th scope="col" class="text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        Banner Rate
                        {%- for name, b_unit_icon in banner_info['banner_icon'].iteritems() %}
                        {{ 'OR' if loop.index > 1 }}
                        <img class="small-unit-icon mx-1" src="https://raw.githubusercontent.com/ffbesp/ffbeEquip/master/static/img/units/unit_icon_{{ b_unit_icon }}.png"> 
                        {% endfor %}
                      </div>
                    </th>
                    {% endif %}
                    {% if not banner_info.get('allRainbowsOnBanner') %}
                    <th scope="col" class="text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="d-inline-block rainbow-crystal"></i>
                        Rainbow Rate
                      </div>
                    </th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in rates_and_pulls[lap] %}
                  <tr>
                    <th scope="row" class="table-dark text-center">{{ row[0] }}</th>
                    <td class="text-center">{{ percent_format(row[3]) }}</td>
                    {% if banner_info['banner_icon']|length > 1 %}
                    <td class="text-center">{{ percent_format(row[2]) }}</td>
                    {% endif %}
                    {% if not banner_info.get('allRainbowsOnBanner') %}
                    <td class="text-center">{{ percent_format(row[1]) }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <hr>

              <h4 class="mt-3">Expected Value <a href="{{ siteurl }}/about/#expected-value"><i class="far fa-info-circle"></i></a></h4>
              <div class="row">
                <div class="col">
                  <div class="card bg-light">
                    <div class="card-header d-flex align-items-center">
                      <img class="small-unit-icon mr-1" src="{{ unit_icon }}"> {{ one_unit_name }}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ expected_value[lap]['oneunit'] }}</h5>
                    </div>
                  </div>
                </div>
                {% if banner_info['banner_icon']|length > 1 %}
                <div class="col">
                  <div class="card bg-light">
                    <div class="card-header d-flex align-items-center">
                      Banner Rainbows 
                      {%- for name, b_unit_icon in banner_info['banner_icon'].iteritems() %}
                      {{ 'OR' if loop.index > 1 }}
                      <img class="small-unit-icon mx-1" src="https://raw.githubusercontent.com/ffbesp/ffbeEquip/master/static/img/units/unit_icon_{{ b_unit_icon }}.png"> 
                      {% endfor %}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ expected_value[lap]['banner'] }}</h5>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if not banner_info.get('allRainbowsOnBanner') %}
                <div class="col">
                  <div class="card bg-light">
                    <div class="card-header d-flex align-items-center">
                      <i class="d-inline-block rainbow-crystal"></i> Rainbows
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ expected_value[lap]['general'] }}</h5>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <hr>

              <ul class="nav nav-pills mb-3" id="pills-x-{{ 'lap-' + lap|string }}" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="at-least-x-{{ 'lap-' + lap|string }}-tab" data-toggle="pill" href="#at-least-x-{{ 'lap-' + lap|string }}" role="tab" aria-controls="at-least-x-{{ 'lap-' + lap|string }}" aria-selected="true">At least X</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="exactly-x-{{ 'lap-' + lap|string }}-tab" data-toggle="pill" href="#exactly-x-{{ 'lap-' + lap|string }}" role="tab" aria-controls="exactly-x-{{ 'lap-' + lap|string }}" aria-selected="false">Exactly X</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-x-{{ 'lap-' + lap|string }}Content">
                <div class="tab-pane fade show active" id="at-least-x-{{ 'lap-' + lap|string }}" role="tabpanel" aria-labelledby="at-least-x-{{ 'lap-' + lap|string }}-tab">
                  <h4 class="mt-3">Probability for at least X units</h4>
                  <table class="table table-sm table-hover table-striped at-least-x">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">X</th>
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            <img class="small-unit-icon mr-1" src="{{ unit_icon }}"> {{ one_unit_name }}
                          </div>
                        </th>
                        {% if banner_info['banner_icon']|length > 1 %}
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            Banner 
                            {%- for name, b_unit_icon in banner_info['banner_icon'].iteritems() %}
                            {{ 'OR' if loop.index > 1 }}
                            <img class="small-unit-icon mx-1" src="https://raw.githubusercontent.com/ffbesp/ffbeEquip/master/static/img/units/unit_icon_{{ b_unit_icon }}.png"> 
                            {% endfor %}
                          </div>
                        </th>
                        {% endif %}
                        {% if not banner_info.get('allRainbowsOnBanner') %}
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            <i class="d-inline-block rainbow-crystal"></i> Rainbows
                          </div>
                        </th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for x_value in range(1, 8) %}
                      <tr>
                        <th scope="row" class="table-dark text-center">{{ x_value }}</th>
                        <td class="text-center">{{ percent_format(at_least_x[lap]['oneunit'].get(x_value, 0.0)) }}</td>
                        {% if banner_info['banner_icon']|length > 1 %}
                        <td class="text-center">{{ percent_format(at_least_x[lap]['banner'].get(x_value, 0.0)) }}</td>
                        {% endif %}
                        {% if not banner_info.get('allRainbowsOnBanner') %}
                        <td class="text-center">{{ percent_format(at_least_x[lap]['general'].get(x_value, 0.0)) }}</td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="exactly-x-{{ 'lap-' + lap|string }}" role="tabpanel" aria-labelledby="exactly-x-{{ 'lap-' + lap|string }}-tab">
                  <h4 class="mt-3">Probability for exactly X units</h4>
                  <table class="table table-sm table-hover table-striped exactly-x">
                    <thead>
                      <tr>
                        <th scope="col" class="text-center">X</th>
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            <img class="small-unit-icon mr-1" src="{{ unit_icon }}"> {{ one_unit_name }}
                          </div>
                        </th>
                        {% if banner_info['banner_icon']|length > 1 %}
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            Banner 
                            {%- for name, b_unit_icon in banner_info['banner_icon'].iteritems() %}
                            {{ 'OR' if loop.index > 1 }}
                            <img class="small-unit-icon mx-1" src="https://raw.githubusercontent.com/ffbesp/ffbeEquip/master/static/img/units/unit_icon_{{ b_unit_icon }}.png"> 
                            {% endfor %}
                          </div>
                        </th>
                        {% endif %}
                        {% if not banner_info.get('allRainbowsOnBanner') %}
                        <th scope="col" class="text-center">
                          <div class="d-flex align-items-center justify-content-center">
                            <i class="d-inline-block rainbow-crystal"></i> Rainbows
                          </div>
                        </th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for x_value in range(0, 8) %}
                      <tr>
                        <th scope="row" class="table-dark text-center">{{ x_value }}</th>
                        <td class="text-center">{{ percent_format(exactly_x[lap]['oneunit'].get(x_value, 0.0)) }}</td>
                        {% if banner_info['banner_icon']|length > 1 %}
                        <td class="text-center">{{ percent_format(exactly_x[lap]['banner'].get(x_value, 0.0)) }}</td>
                        {% endif %}
                        {% if not banner_info.get('allRainbowsOnBanner') %}
                        <td class="text-center">{{ percent_format(exactly_x[lap]['general'].get(x_value, 0.0)) }}</td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      

    {% endblock %}
    {% block javascripts %}
    {{ super() }}
    {% endblock %}